body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-cropper {
    width: 55%;
    height: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid rgb(87, 83, 83);
}
.profile-pic {
  display: inline;
  margin: 0 auto;
}